<div class="custom-section">
    <div id="dropdownContainer">
        <div class="dropdownWrapper">
            <div class="dropdown" id="Tablesdropdown">
                <button onclick="toggleVisibility('tableContent')">Tables</button>
                <div id="tableContent" class="dropdownContent">
                    <ul>
                        <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=15" target="_blank">Fall 2024 Final Q3(7-8)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=15" target="_blank">Fall 2024 Final Q3(10)</a></li>
                        <li><a href="https://data6.org/su25/exams/quizzes/fa24.pdf#page=6" target="_blank">Fall 2024 Quiz Q3b</a></li>
                        <li><a href="https://data6.org/su25/exams/quizzes/fa24.pdf#page=9" target="_blank">Fall 2024 Quiz Q3c</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=2" target="_blank">Summer 2024 Final Q1e</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=4" target="_blank">Summer 2024 Final Q3(a, c-e)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=9" target="_blank">Summer 2024 Final Q4(a-d)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=13" target="_blank">Summer 2024 Final Q5b</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=2" target="_blank">Summer 2023 Final Q1(e, h, i)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=10" target="_blank">Summer 2023 Final Q4a</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=14" target="_blank">Summer 2023 Final Q4b(ii - iii)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=6" target="_blank">Summer 2022 Final Q3c</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=7" target="_blank">Summer 2022 Final Q4(a - d)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dropdownWrapper" id="functionsdropdown">
            <div class = "dropdown">
                <button onclick="toggleVisibility('functionsContent')" style="background-color: #3C5D5D;">Functions, Scope, HOF</button>
                <div id="functionsContent" class="dropdownContent">
                    <ul>
                        <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=6" target="_blank">Fall 2024 Final Q2(1 - 2)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=17" target="_blank">Fall 2024 Final Q4(1 - 2)</a></li>
                        <li><a href="https://data6.org/su25/exams/quizzes/fa24.pdf#page=3" target="_blank">Fall 2024 Quiz Q2</a></li>
                        <li><a href="https://data6.org/su25/exams/quizzes/fa24.pdf#page=5" target="_blank">Fall 2024 Quiz Q3a</a></li>
                        <li><a href="https://data6.org/su25/exams/quizzes/fa24.pdf#page=10" target="_blank">Fall 2024 Quiz Q4</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=14" target="_blank">Summer 2024 Final Q6a</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=3" target="_blank">Summer 2023 Final Q2b</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=11" target="_blank">Summer 2023 Final Q4a(iii - iv)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=17" target="_blank">Summer 2023 Final Q5a</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=16" target="_blank">Summer 2022 Final Q5c</a></li>
                    </ul>
                </div>
            </div>
        </div>  
        <div class="dropdownWrapper" id="visualizationdropdown">
            <div class = "dropdown">
                <button onclick="toggleVisibility('visualizationContent')" style="background-color:#4C5D46;">Visualizations, Variable Types</button>
                <div id="visualizationContent" class="dropdownContent">
                    <ul>
                        <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=14" target="_blank">Fall 2024 Final Q3(6, 8, 9)</a></li>
                        <li><a href="https://data6.org/su25/exams/quizzes/fa24.pdf#page=9" target="_blank">Fall 2024 Quiz Q3c.i</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=11" target="_blank">Summer 2024 Final Q4e</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=2" target="_blank">Summer 2023 Final Q1b</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=5" target="_blank">Summer 2023 Final Q3a</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=14" target="_blank">Summer 2023 Final Q4b</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=2" target="_blank">Summer 2022 Final Q1e</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=3" target="_blank">Summer 2022 Final Q2c</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=4" target="_blank">Summer 2022 Final Q3(a - b)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=8" target="_blank">Summer 2022 Final Q4b</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="dropdownContainer">
        <div class="dropdownWrapper">
        <div class="dropdown" id="controldropdown">
            <button onclick="toggleVisibility('controlContent')">Control, Iteration</button>
            <div id="controlContent" class="dropdownContent">
            <ul>
                <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=12" target="_blank">Fall 2024 Final Q3.4</a></li>
                <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=17" target="_blank">Fall 2024 Final Q4(1 - 2)</a></li>
                    <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=3" target="_blank">Summer 2024 Final Q2b</a></li>
                    <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=8" target="_blank">Summer 2023 Final Q4a</a></li>
                    <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=17" target="_blank">Summer 2023 Final Q5a</a></li>
                    <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=19" target="_blank">Summer 2023 Final Q5b.iii</a></li>
                    <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=12" target="_blank">Summer 2022 Final Q5(a - b)</a></li>
                </ul>
            </div>
        </div>
        </div>
        <div class="dropdownWrapper" id="pythondropdown">
            <div class = "dropdown">
                <button onclick="toggleVisibility('pythonContent')" style="background-color: #3C5D5D;">Python Practice</button>
                <div id="pythonContent" class="dropdownContent">
                    <ul>
                        <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=4" target="_blank">Fall 2024 Final Q1(5 - 8)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=8" target="_blank">Fall 2024 Final Q3(1 - 4)</a></li>
                        <li><a href="https://data6.org/su25/exams/quizzes/fa24.pdf#page=2" target="_blank">Fall 2024 Quiz Q1</a></li>
                        <li><a href="https://data6.org/su25/exams/quizzes/fa24.pdf#page=10" target="_blank">Fall 2024 Quiz Q4</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=2" target="_blank">Summer 2024 Final Q1(c, d, i)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=3" target="_blank">Summer 2024 Final Q2b</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=2" target="_blank">Summer 2023 Final Q1(a, c)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=3" target="_blank">Summer 2023 Final Q2(a - b)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=11" target="_blank">Summer 2023 Final Q4b.iv</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=17" target="_blank">Summer 2023 Final Q5a</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=19" target="_blank">Summer 2023 Final Q5b.iii</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=2" target="_blank">Summer 2022 Final Q1(a - c, g, i)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=12" target="_blank">Summer 2022 Final Q5(a - c)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dropdownWrapper" id="arraysdropdown">
            <div class = "dropdown">
                <button onclick="toggleVisibility('arraysContent')" style="background-color: #4C5D46;">Arrays and Numpy</button>
                <div id="arraysContent" class="dropdownContent">
                    <ul>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=2" target="_blank">Summer 2024 Final Q1f</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=4" target="_blank">Summer 2024 Final Q3(a - b)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=12" target="_blank">Summer 2024 Final Q5a</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=8" target="_blank">Summer 2023 Final Q4a</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=2" target="_blank">Summer 2022 Final Q1f</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=8" target="_blank">Summer 2022 Final Q4b</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=12" target="_blank">Summer 2022 Final Q5(a - b)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div id="dropdownContainer">
        <div class="dropdownWrapper">
        <div class="dropdown" id="dictionariesdropdown">
            <button onclick="toggleVisibility('dictionariesContent')">Dictionaries</button>
            <div id="dictionariesContent" class="dropdownContent">
            <ul>
                <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=20" target="_blank">Fall 2024 Final Q5(1 - 2)</a></li>
                <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=2" target="_blank">Summer 2024 Final Q1h</a></li>
                <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=3" target="_blank">Summer 2024 Final Q2a</a></li>
                <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=2" target="_blank">Summer 2023 Final Q1d</a></li>
                <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=3" target="_blank">Summer 2023 Final Q2a</a></li>
            </ul>
            </div>
        </div>
        </div>
        <div class="dropdownWrapper" id="methodsdropdown">
            <div class = "dropdown">
                <button onclick="toggleVisibility('methodsContent')" style="background-color: #3C5D5D;">Research Methods</button>
                <div id="methodsContent" class="dropdownContent">
                    <ul>
                        <li><a href="https://data6.org/su25/exams/finals/fa24.pdf#page=2" target="_blank">Fall 2024 Final Q1(1 - 4, 9 - 11)</a></li>
                        <li><a href="https://data6.org/su25/exams/quizzes/fa24.pdf#page=12" target="_blank">Fall 2024 Quiz Q5</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=2" target="_blank">Summer 2024 Final Q1(g, j)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=8" target="_blank">Summer 2024 Final Q3f</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=2" target="_blank">Summer 2023 Final Q4b.iii</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=19" target="_blank">Summer 2023 Final Q5b(i - ii)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=2" target="_blank">Summer 2022 Final Q1h</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=3" target="_blank">Summer 2022 Final Q2(a - b)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dropdownWrapper" id="HCEdropdown">
            <div class = "dropdown">
                <button onclick="toggleVisibility('HCEContent')" style="background-color: #4C5D46;">Human Contexts and Ethics</button>
                <div id="HCEContent" class="dropdownContent">
                    <ul>
                        <li><a href="https://data6.org/su25/exams/finals/su24-sol.pdf#page=2" target="_blank">Fall 2024 Final Q1(2 - 3)</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su24.pdf#page=2" target="_blank">Summer 2024 Final Q1k</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su23.pdf#page=7" target="_blank">Summer 2023 Final Q3b</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=2" target="_blank">Summer 2022 Final Q1d</a></li>
                        <li><a href="https://data6.org/su25/exams/finals/su22.pdf#page=3" target="_blank">Summer 2022 Final Q2d</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleVisibility(id) {
        var element = document.getElementById(id);
        var currentDisplay = window.getComputedStyle(element).display;
        if (currentDisplay === 'block') {
          element.style.display = 'none';
        } else {
          element.style.display = 'block';
        }
      }
</script>